@import url("master.css");
/* ----------------------------- Tables Styling ------------------------------ */

.space{
  width:20%;
}

#char_selector {
  position: absolute;
  left: 0pt;
  top: 0pt;
  height: 100%;
  width: 25%;
  border-right: 4pt groove rgb(36, 23, 14);
}

#charopt_tabs {
  z-index: 7;
  position:absolute;
  width:90%;
  height:10%;
  overflow: hidden;
  padding-left:10%;
  background-color: rgb(102, 62, 40);
}

.char_tab {
  z-index:8;
  position: absolute;
  top:0pt;
  display: inline-block;
  font-family: "MiddleEarth";
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: rgba(226, 152, 33, 0.9);
  -webkit-text-fill-color: rgba(226, 152, 33, 0.9);
  text-shadow: 1px 4px 6px rgb(68, 47, 33), 0 0 10pt #000, 1px 4px 6px rgb(68, 47, 33);
  width:30%;
  height:100%;
  background-color: inherit;
  font-size: 70%;
  line-height: 350%;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
#pcs{
  left:5%;
}
#npcs{
  left:35%;
}
#boss{
  left:65%;
}
.char_tab:hover {
  -moz-box-shadow: inset 0 0 5pt #000;
  -webkit-box-shadow: inset 0 0 5pt #000;
  box-shadow: inset 0 0 5pt #000;
  transition:0.3s;
}
.char_tab:active {
  -moz-box-shadow: inset 0 0 20pt #000;
  -webkit-box-shadow: inset 0 0 20pt #000;
  box-shadow: inset 0 0 20pt #000;
  transition:0.3s;
}

.active_tab{
  background-color: rgb(40, 27, 20);
}
.tables {
  position: absolute;
  top:10%;
  display: none;
  width:100%;
  height:90%;
  background-color: rgb(40, 27, 20);
}

.tables.active_table{
  display:block;
}
